html,body{height:100%;}

body {
    background: none repeat scroll 0 0 #FFF;
}
 

.navbar .navbar-inner {
    background: none repeat scroll 0 0 #4A8BC2;   
    border-radius: 0 0 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.navbar .brand {
    color: #FFFFFF;
    font-size: 24px;
    text-shadow: none;
}


#breadcrumbs {
	background-color: #F5F5F5;
	line-height: 39px;            
    border-top: 1px solid #619ACA;   
    border-bottom: 1px solid #E5E5E5;         
    display:none;
}

#main-content {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 1px solid #619ACA;
    border-bottom: 1px solid #CFCFD6;    
    border-left: 1px solid #CFCFD6;         
}

#sidebar {
    background: none repeat scroll 0 0 #4A8BC2;
    border-top: 1px solid #619ACA;    
}


#sidebar .nav-list li {        
    border-top: 1px solid #619ACA;
    border-bottom: 1px solid #346D9D;       
    box-shadow: 0 1px 0 0 #619ACA inset, 0 -1px 0 0 #346D9D inset;
}

#sidebar .nav-list li a,
#sidebar .nav-list li a:hover {
	background: none;	
	color: #FFF;  
}

#sidebar .nav-list li.active {
  background: #346D9D;
  border-right: 0px;  
  border-top: 1px solid #3776A9;
  border-bottom: 1px solid #326A98;   
  
}

#sidebar .nav-list li.active a {
  border: 0px;
}

#sidebar .nav-list li:hover {
  background: #346D9D;
}


.table td.center, .table th.center {
    text-align: center;
}

table.table-content-center td, table.table-content-center th{text-align: center;}

 
dl dt {
	float:left;
	background:#5f9be3;
	color:#fff;
		
    margin-right:10px; 
	padding:8px;
	width:100px;
		            
    font-weight:bold;           
    text-align: right;
}
 
dl dd {
    border-bottom: 1px dotted #5f9be3;
}

#right header {
    margin-bottom: 20px;
    padding-bottom: 10px;		
    border-bottom: 1px solid #DEDEDE;
}

#right header > h2 {
	display: inline-block;
}